---
import { BreadcrumbDemo } from "./Shandcn_Shop/Breadcrumb/Breadcrumb_shop";
import { Searcher } from "./Shandcn_Shop/Input/Input_shop";
import { SwitchDemo } from "./Shandcn_Shop/Switch/switch_shop";
import { MenubarDemo } from "./Shandcn_Shop/Menu_Bar/menubar_shop";
import { DropdownMenuCheckboxes } from "./Shandcn_Shop/Drop_Menu/drop_menu_filters_shop";
import ShoppingCart from "./Shandcn_Shop/Sheet/Shooping_Cart";
import Command_searcher_shop from "./Shandcn_Shop/Command/Command_searcher_shop";
---

<header class="border-b">
  <div class="flex items-center justify-between z-50 px-[24px] py-[16px]">
    {/* Routes */}
    <BreadcrumbDemo client:idle />
    <div class="flex items-center justify-between">
      {/* Searcher */}
      <Searcher client:idle />
      {/* User Profile */}
      
    </div>
  </div>
</header>

<nav class="px-[25px] py-3 flex justify-between items-center border-b">
  <div class="inline-block">
    {/* Categories */}
    <MenubarDemo client:idle />
  </div>
  <div class="z-0 flex items-center gap-3">
    <div class="flex items-center justify-between gap-5 cursor-pointer">
      {/* Filter */}
      <DropdownMenuCheckboxes client:idle />
      {/* Hot Products */}
      <SwitchDemo client:idle />
      {/* Button Shoopping Cart */}
      <div class="relative inline-block cursor-pointer">
        <ShoppingCart client:idle />
      </div>
    </div>
  </div>
</nav>

{/* Dashboard Products */}
<main class="flex items-center justify-center w-full h-[100dvh]">
  {/* Sidebar */}
  <div class="sticky flex h-full p-8 border-r overscroll-y-auto w-96">
    <h2>Sidebar</h2>
  </div>
  <section class="flex w-full h-full p-6">
    <h1 class="text-3xl font-semibold">Tienda</h1>
    <ul class="grid items-center grid-cols-4 gap-0">
        <li></li>
    </ul>
  </section>
</main>

{/* Command Searcher */}
<Command_searcher_shop client:idle/>