---
import { Button } from "@/components/ui/button";
---

<section
  class="w-[100%] relative h-[100dvh]"
  style="background-image: url(/img/Home/bg_header_04.webp)"
>
  <div
    class="z-20 w-[100%] text-center absolute -translate-x-[50%] -translate-y-[50%] top-[40%] left-[30%]"
  >
    <h2 class="text-[#000] font-black text-5xl">
      Por que explorar es un estilo <br /> de vida
    </h2>
    <p class="mt-5 text-[#000] text-md">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere,
      explicabo!
    </p>
    <p>Lorem ipsum dolor sit amet.</p>
  </div>
  <div>
    <div
      class="absolute -translate-x-[50%] -translate-y-[50%] top-[80%] left-[30%]"
    >
      <div class="flex items-center justify-center gap-6">
        <Button variant="Ash_Gray">Explorar</Button>
        <Button variant="Charcoal">Conocer</Button>
      </div>
    </div>
  </div>
  <div
    class="z-20 text-center absolute -translate-x-[50%] -translate-y-[50%] top-[90%] left-[30%]"
  >
    <p class="text-sm">
      *EL PRECIO ANTES DE INCENTIVO ES DE $32,90, SIN INCLUIR IMPUESTOS NI
      CARGOS. SUJETO A CAMBIOS.*
    </p>
  </div>
  <img
    class="max-w-[34%] -mt-[125px] top-[15%] absolute left-[75%] -translate-x-[50%]"
    style="mask-image: linear-gradient(black 80%, transparent);"
    loading="lazy"
    src="/img/Home/05-foto-head.webp"
    alt=""
  />
</section>
