---
import Content_Life_Style from "./Content_Life_Style.astro";
---

<section
  class="w-[100%] bg-cover bg-center bg-no-repeat relative h-[115vh]"
  style="background-image: url(/bg-LifeStyle.webp)"
>
  <Content_Life_Style />
</section>
