---
// Components Astro
import Content_Life_Style from "./Content_Life_Style.astro";
---

<section
  class="relative w-full bg-center bg-no-repeat bg-cover h-dvh"
  style="background-image: url(/bg-LifeStyle.webp)"
>
  <Content_Life_Style />
</section>
