---
// Styles
import "@/components/Home/Collection/Collection.module.css";
---

<section
  class="w-full bg-cover bg-top bg-no-repeat h-[260vh] relative"
  style="background-image: url(/bg-Collection.webp)"
>
  <div
    class="z-20 absolute text-7xl font-black -translate-x-[0%] text-center -translate-y-[50%] top-[20.33%] left-[20%]"
  >
    <h3 class="-tracking-[6px] bg-black bg-clip-text text-transparent">
      SABATA COMMERCE SHOP
    </h3>
    <p class="-tracking-[6px] bg-black bg-clip-text text-transparent">
      TIENDA FISICA - VIRTUAL
    </p>
    <p class="-tracking-[6px] bg-black bg-clip-text text-transparent">
      MODA FEMENINA
    </p>
  </div>

  <div
    class="z-20 absolute top-[3%] -right-[6%] translate-y-[50%] text-black -translate-x-[50%]"
  >
    <p class="font-medium text-center">WWW.SABATA</p>
    <p class="text-4xl font-black -tracking-[3px]">
      E-COMMERCE
    </p>
  </div>

  <div>
    <div
      class="flex flex-col z-20 -translate-x-[0%] absolute -translate-y-[50%] top-[50%] left-[10%] max-w-[250px]"
    >
      <h3 class="text-lg text-black font-semibold hover:text-[#2b2b2b]">
        Colección de moda femenina
      </h3>
      <a href="#" data-astro-prefetch="tap" title="" aria-label=""
        >Explora vestidos elegantes y versátiles</a
      >
      <a href="#" data-astro-prefetch="tap" title="" aria-label="">Descubre las últimas tendencias</a>
      <a href="#" data-astro-prefetch="tap" title="" aria-label="">Encuentra tu ajuste perfecto</a>
      <a href="#" data-astro-prefetch="tap" title="" aria-label=""
        >Completa tu look con nuestros accesorios</a
      >
      <a href="#" data-astro-prefetch="tap" title="" aria-label=""> ¡Compra ahora!</a>
    </div>

    {
      /* <div class='-translate-x-[0%] absolute -translate-y-[50%] top-[62%] left-[12%] '>
      <div class='w-[150px] h-[150px] bg-[#75a04d] rounded-full circle__logo relative ' />
    </div> */
    }

    <div
      class="flex flex-col z-20 -translate-x-[0%] absolute -translate-y-[50%] top-[50%] left-[75%] max-w-[250px]"
    >
      <h3 class="text-lg text-black font-semibold hover:text-[#2b2b2b]">
        Descubre quiénes somos
      </h3>
      <a href="#" data-astro-prefetch="tap" title="" aria-label="">Nuestra historia: Cómo empezó... </a>
      <a href="#" data-astro-prefetch="tap" title="" aria-label=""
        >Nuestro equipo: Conoce a las personas...</a
      >
      <a href="#" data-astro-prefetch="tap" title="" aria-label=""
        >Nuestra misión: Descubre nuestra visión...</a
      >
      <a href="#" data-astro-prefetch="tap" title="" aria-label=""
        >Nuestra comunidad: Una comunidad femenina</a
      >
      <a href="#" data-astro-prefetch="tap" title="" aria-label=""
        >Contáctanos: ¿Tienes alguna o comentario?</a
      >
    </div>
  </div>
</section>
