---
import Footer from "@/components/Footer.astro";
---
<section
  class="w-full h-[260dvh] relative"
  style="background-image: url(/img/Home/bg_footer.webp)"
>
  <div
    class="z-20 absolute text-5xl -translate-x-[0%] -translate-y-[50%] top-[10%] left-[39%]"
  >
    <p class="font-light text-center text-black drop-shadow-2xl">WWW.SABATA</p>
    <p class="font-black text-black drop-shadow-2xl">E-COMMERCE</p>
  </div>

  <div
    class="z-20 absolute text-7xl font-black -translate-x-[0%] text-center -translate-y-[50%] top-[21%] left-[19%]"
  >
    <p class="-tracking-[2px] text-black drop-shadow-2xl">
      SABATA COMMERCE SHOP
    </p>
    <p class="-tracking-[2px] text-black drop-shadow-2xl">
      TIENDA FISICA - VIRTUAL
    </p>
    <p class="-tracking-[2px] text-black drop-shadow-2xl">MODA FEMENINA</p>
  </div>

  <div class="leading-8">
    <div
      class="z-20 -translate-x-[0%] absolute -translate-y-[50%] top-[50%] left-[5%] w-80"
    >
      <p class="text-2xl font-black">Colección de moda femenina</p>
      <div class="mt-2 underline drop-shadow-2xl">
        <a class="text-[#000] relative hover:text-[#2b2b2b]" href="#"
          >Explora vestidos elegantes y versátiles</a
        >
        <a class="text-[#000] relative hover:text-[#2b2b2b]" href="#"
          >Descubre las últimas tendencias</a
        >
        <a class="text-[#000] relative hover:text-[#2b2b2b]" href="#"
          >Encuentra tu ajuste perfecto</a
        >
        <a class="text-[#000] relative hover:text-[#2b2b2b]" href="#"
          >Completa tu look con nuestros accesorios</a
        >
        <a class="text-[#000] relative hover:text-[#2b2b2b]" href="#">
          ¡Compra ahora!</a
        >
      </div>
    </div>
    <div
      class="col z-20 -translate-x-[0%] absolute -translate-y-[50%] top-[50%] left-[74%] w-80"
    >
      <p class="text-2xl font-black">Descubre quiénes somos</p>
      <div class="mt-2 underline drop-shadow-2xl">
        <a class="text-[#000] relative hover:text-[#2b2b2b]" href="#"
          >Nuestra historia: Cómo empezó...
        </a>
        <a class="text-[#000] relative hover:text-[#2b2b2b]" href="#"
          >Nuestro equipo: Conoce a las personas...</a
        >
        <a class="text-[#000] relative hover:text-[#2b2b2b]" href="#"
          >Nuestra misión: Descubre nuestra visión...</a
        >
        <a class="text-[#000] relative hover:text-[#2b2b2b]" href="#"
          >Nuestra comunidad: Una comunidad femenina</a
        >
        <a class="text-[#000] relative hover:text-[#2b2b2b]" href="#"
          >Contáctanos: ¿Tienes alguna o comentario?</a
        >
      </div>
    </div>
  </div>

  

</section>
