---
import { Button } from "@/components/ui/button";
---

<div
  class="absolute top-[55%] z-20 -right-[18%] -translate-x-[50%] -translate-y-[50%]"
>
  <div class="text-center">
    <h2 class="text-5xl font-black text-[#000] text pb-6">
      ¡Llegaron las ofertas de<br /> verano!
    </h2>
    <p class="text-base text-[#000]">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, <br
      /> Lorem ipsum dolor sit amet.
    </p>
    <div class="flex items-center justify-center gap-6 my-14">
      <Button variant="Powder_Blue">¡Comprar Ahora!</Button>
      <Button variant="Platinum">Explorar Ofertas</Button>
    </div>
    <div class="text-sm">
      <p class="relative inline-block text-black">
        *LAS OFERTAS TIENEN TIEMPO LIMITADO O HASTA GASTAR STOCK. NO SE PUEDE
        CANCELAR.
      </p>
      <br />
      <p class="relative inline-block underline cursor-pointer text_Card">
        MÁS INFORMACIÓN SOBRE NUESTRAS OFERTAS
      </p>
    </div>
  </div>
</div>
