---
// Components Astro
import Content_SummerOffer from "./Content_SummerOffer.astro";
// Styles
import "./Summer_offer.module.css";
---

<section
  class="relative w-full bg-center bg-no-repeat bg-cover h-dvh opacity-90"
  style="background-image: url(/bg-SummerOffer.webp)"
>
  <Content_SummerOffer />
</section>
