---
import Content_SummerOffer from "../Summer_Offers/Content_SummerOffer.astro";
---

<section class="w-[100%] relative h-[100dvh]" style="background-image: url(/img/Home/03-header-image.webp)">
  <Content_SummerOffer/>
</section>
