---
import Content_SummerOffer from "../Summer_Offers/Content_SummerOffer.astro";
import './Style_Summer_Offer/style_summer_offer.css'
---

<section class="w-[100%] bg-cover bg-center bg-no-repeat relative h-[115vh] opacity-90" style="background-image: url(/bg-SummerOffer.webp)">
  <Content_SummerOffer/>
</section>
