---
import Content_SummerOffer from "../Summer_Offers/Content_SummerOffer.astro";
import './Style_Summer_Offer/style_summer_offer.css'
---

<section class="w-[100%] bg-cover bg-center bg-no-repeat relative h-[110vh]" style="background-image: url(/img/Home/03-header-image.webp)">
  <Content_SummerOffer/>
</section>
