---
import LogoNavLogin from "./LogoNavLogin.astro";
import NavOptiosLogin from "./NavOptionsLogin.astro";

---
<nav class='w-[100%] flex items-center justify-between px-14 py-5 text-[13px] '>
    <LogoNavLogin />
    <ul class=' flex items-center justify-between p-1 gap-7  '>
      <li class='flex gap-10 '>
        <a href='/' class='link_login' href=''>Inicio</a>
        <a href='/ec/shop/' class='link_login' href=''>Tienda </a>
        <a class='link_login' href=''>Accesorio</a>
        <a class='link_login' href=''>Ofertas </a>
        <a class='link_login' href=''>Contacto</a>
      </li>
    </ul>
    <NavOptiosLogin />
  </nav>