---

---

<ol>
    <li class='flex gap-5 items-center '>
      <a class='link_login ' href=''>Español</a>
      <a class='link_login_active' href=''>Iniciar sesion </a>
      <a href='/ec/auth/register' class='link_login_res text-[13px] hover:text-[#fafafa] hover:bg-[#ef7674] link__register px-3 py-1.5 text-[#ef7674] rounded-3xl  bg-[#fff] ' >Registrarse</a>
    </li>
  </ol>