---
import Contact from "@/components/Contact/Contact.astro"
import Contacto from "@/layout/Layout.astro";
---
<Contacto
  titulo_pagina="Contacto"
  descripcion_pagina=""
  fecha_publicacion="2024-05-02"
  keywords_pagina=""
>
	<main class="relative" style="background-color: #0e1116;">
        <Contact />
	</main>
</Contacto>