---
// Layout
import Contact_Layout from "@/layout/Layout.astro";
// Sections
import Contact_Page from "@/components/Contact/Contact_Container.astro";
---

<Contact_Layout
  titulo_pagina="Contacto"
  descripcion_pagina=""
  fecha_publicacion="2024-05-02"
  keywords_pagina=""
>
  <main class="relative fuente_cabin text-white bg-[#111] ">
    <Contact_Page />
  </main>
</Contact_Layout>


<style>
  .fuente_cabin {
      font-family: 'Cabin Variable', sans-serif;
  }
</style>
