---
// Components Astro
import TextMenuDiscountProduct from "@/components/Home/Discount_Products/Text_Menu_Discount_product.astro";
---

<section
  class="relative w-full bg-center bg-no-repeat bg-cover h-dvh"
  style="background-image: url(/bg-Discount_Products.webp)"
>
  <TextMenuDiscountProduct />
</section>
