---

import TextMenuDiscountProduct from "./Text_Menu_Discount_product.astro";
---

<section
  class="w-[100%] bg-cover bg-center bg-no-repeat relative h-[115vh] opacity-90"
  style="background-image: url(/bg-Discount_Products.webp)"
>
  <TextMenuDiscountProduct />
</section>
