---

import TextMenuDiscountProduct from "./Text_Menu_Discount_product.astro";
---

<section
  class="w-[100%] -mt-5 bg-cover bg-center bg-no-repeat relative h-[110vh] opacity-90"
  style="background-image: url(/public/bg-Discount_Products.webp)"
>
  <TextMenuDiscountProduct />
</section>
