---

---
<p class='cursor-pointer text-[12px] relative inline-block text-black'>*LAS OFERTAS
    TIENEN
   TIEMPO LIMITADO
    O HASTA
   GASTAR STOCK.
    NO
   SE PUEDE CANCELAR.
 </p>
 <br />
 <p class='cursor-pointer text-[11px] text_Card relative inline-block'>
    MÁS
   INFORMACIÓN
    SOBRE
   NUESTRAS OFERTAS
 </p>