<ol class='z-20 text-black text-[12px] flex gap-5 cursor-pointer absolute top-[30%] left-[15%]  translate-y-[50%] -translate-x-[50%] '>
    <li class='text_menu inline-block relative'>MUJER</li>
    <li class='text_menu inline-block relative'>HOMBRES</li>
    <li class='text_menu inline-block relative'>NIÑOS</li>
  </ol>