---
// Layout
import Home from "@/layout/Layout.astro";
// Components Astro
import NavHome from "@/components/Home/Intro/nav/Nav_Home";
import Footer from "@/components/Home/Footer.astro";
// Sections
import IntroPage from "@/components/Home/Intro/Intro_Page.astro";
import CollectionPage from "@/components/Home/Collection/Collection_Page.astro";
import DiscountProductsPage from "@/components/Home/Discount_Products/Discount_Products_Page.astro";
import LifeStylePage from "@/components/Home/Life_Style/Life_Style_Page.astro";
import SummerOfferPage from "@/components/Home/Summer_Offers/Summer_Offer_Page.astro";
import WomenFashionPage from "@/components/Home/Women_Fashion/Women_Fashion_Page.astro";
---

<Home
  title_page="Inicio"
  description_page=""
  last_update="2024-05-02"
  keywords_page={[""]}
>
  <header
    class="fixed top-0 left-0 z-50 w-full px-0 text-sm font-medium text-white navegacion_home"
  >
    <NavHome client:idle />
  </header>
  <main class="relative">
    <section class="bg-black header_scroll_home cards_scroll_home">
      <IntroPage />
    </section>
    <section class="w-full bg-black cards_scroll_home h-dvh">
      <WomenFashionPage />
    </section>
    <section class="w-full bg-black cards_scroll_home h-dvh">
      <SummerOfferPage />
    </section>
    <section class="w-full bg-black cards_scroll_home h-dvh">
      <DiscountProductsPage />
    </section>
    <section class="w-full bg-black cards_scroll_home h-dvh">
      <LifeStylePage />
    </section>
    <section class="bg-black footer_scroll_home">
      <CollectionPage />
    </section>
    <Footer />
  </main>
</Home>

<style>
  .hidden {
    /* hidden */
  }

  .blur_menu {
    backdrop-filter: blur(2px) saturate(97%);
    -webkit-backdrop-filter: blur(2px) saturate(97%);
    background-color: rgba(1, 1, 1, 0.05);
  }
  html,
  body {
    font-family: "Poppins", sans-serif;
  }

</style>

<script src="../hooks/useScrollHome.js"></script>
