---
// Layout
import Home from "../layout/Layout.astro";

// gsap


// Sections
import WomenFashion from "@/components/Home/Women_Fashion/Women_Fashion.astro";
import Intro from "@/components/Home/Intro/Intro.astro";
import DiscountProducts from "@/components/Home/Discount_Products/Discount_Products.astro";
import SummerOffer from "@/components/Home/Summer_Offers/Summer_Offer.astro";
import LifeStyle from "@/components/Home/Life_Style/Life_Style.astro";
import Collection from "@/components/Home/Collection/Collection.astro";
import Footer from "@/components/Home/Footer.astro";
import NavHome from "@/components/Home/Nav_Home/Nav_Home";
---

<Home
  titulo_pagina="Inicio"
  descripcion_pagina=""
  fecha_publicacion="2024-05-02"
  keywords_pagina=""
>
  <header class='navegacion_home fixed w-[100%] top-0 left-0 px-0  text-white text-[15px] font-medium z-[999]'>
    <NavHome client:idle />
  </header>
  <main class="relative">
    <section class="cards_scroll_home bg-black">
      <Intro />
    </section>
    <section class="cards_scroll_home bg-black">
      <WomenFashion />
    </section>
    <section class="cards_scroll_home bg-black">
      <SummerOffer />
    </section>
    <section class="cards_scroll_home bg-black">
      <DiscountProducts />
    </section>
    <section class="cards_scroll_home lifeStyle bg-black">
      <LifeStyle />
    </section>
    <section class="footer_scroll_home bg-black">
      <Collection />
    </section>
    <Footer />
  </main>
</Home>

<style>
  .hidden {
    /* hacerlo hidden */
    display: none;
  }

  .navegacion_home {
    backdrop-filter: blur(2px) saturate(97%);
    -webkit-backdrop-filter: blur(2px) saturate(97%);
    background-color: rgba(1, 1, 1, 0.05);
}
</style>

<script src="../components/Home/Hooks/useScrollHome.js"></script>