---
// Layout
import Home from "../layout/Layout.astro";

// gsap


// Sections
import WomenFashion from "@/components/Home/Women_Fashion/Women_Fashion.astro";
import Intro from "@/components/Home/Intro/Intro.astro";
import DiscountProducts from "@/components/Home/Discount_Products/Discount_Products.astro";
import SummerOffer from "@/components/Home/Summer_Offers/Summer_Offer.astro";
import LifeStyle from "@/components/Home/Life_Style/Life_Style.astro";
import Collection from "@/components/Home/Collection/Collection.astro";
import Footer from "@/components/Home/Footer.astro";
---

<Home
  titulo_pagina="Inicio"
  descripcion_pagina=""
  fecha_publicacion="2024-05-02"
  keywords_pagina=""
>
  <main class="relative">
    <section class="cards_scroll_home bg-black">
      <Intro />
    </section>
    <section class="cards_scroll_home bg-black">
      <WomenFashion />
    </section>
    <section class="cards_scroll_home bg-black">
      <SummerOffer />
    </section>
    <section class="cards_scroll_home bg-black">
      <DiscountProducts />
    </section>
    <section class="cards_scroll_home bg-black">
      <LifeStyle />
    </section>
    <section class="">
      <Collection />
    </section>
    <Footer />
  </main>
</Home>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.utils.toArray(".cards_scroll_home").forEach((panel, i) => {
      ScrollTrigger.create({
        trigger: panel,
        start: "top top", // Comienza después de desplazarse 200px
        pin: true,
        pinSpacing: false,
      });
    });
</script>