---

---

<section class="overflow-x-hidden container relative flex items-center px-8 h-[100vh]">
    <ul class="flex gap-8">
        <li class="w-[641px] rounded-xl h-[480px] bg-[#000000] "></li>
        <li class="w-[641px] rounded-xl h-[480px] bg-[#000000] "></li>
        <li class="w-[641px] rounded-xl h-[480px] bg-[#000000] "></li>
        <li class="w-[641px] rounded-xl h-[480px] bg-[#000000] "></li>
        <li class="w-[641px] rounded-xl h-[480px] bg-[#000000] "></li>
        <li class="w-[641px] rounded-xl h-[480px] bg-[#fff]"></li>
    </ul>
</section>
<script src="./Hooks/useScroll.js"></script>


        