---
// Components Astro
import NavContact from "@/components/Contact/nav/NavContact.astro";
import Card_References_Contact from "@/components/Contact/Card_References_Contact.astro";
import Collaboration_Ours_Contact from "@/components/Contact/Collaboration_Ours_Contact.astro";
import Footer_Contact from "@/components/Contact/Footer_Contact.astro";
import Intro_Landing from "@/components/Contact/Intro_Landing.astro";
// Components React
import { More_Information_Contact } from "@/components/Contact/More_Information_Contact";
import { Other_information_Contact } from "@/components/Contact/Other_information_Contact";
import { Why_Select_Contact } from "@/components/Contact/Why_Select_Contact";
import { FAQ } from "@/components/Contact/FAQ";
import { Carousel_Img } from "@/components/Contact/Carousel_Img";
// Custom Components
import LogoRoll from "@/components/Contact/Scroll_Infinity_Contacts";
---

<main>
  <header>
    <NavContact />
  </header>

  <section class="flex flex-col items-center justify-center w-full gap-8 h-dvh">
    <Intro_Landing />
  </section>

  <section class="flex flex-col items-center justify-center w-full gap-4 h-dvh">
    <div class="w-[641px] rounded-xl h-96 bg-black">
      <h2>prueba</h2>
    </div>
    <h2 class="p-4 text-xl leading-10 text-center text-white">
      Con la confianza de grandes marcas de todo el mundo
    </h2>
    <LogoRoll />
  </section>

  <Card_References_Contact />
  <More_Information_Contact />
  <Other_information_Contact />
  <Why_Select_Contact />
  <Collaboration_Ours_Contact />
  <FAQ client:idle />
  <section class="flex items-center justify-center w-full h-dvh">
    <Carousel_Img client:idle />
  </section>
  <Footer_Contact />
</main>
