---
import { IntroLanding } from "./Intro_Landing_Contact.jsx";
import NavContact from "./nav/NavContact.astro";
import LogoRoll from "./Scroll_Infinity_Contacts.jsx";
import { Card_References_Contact } from "./Card_References_Contact.jsx";
import { More_Information_Contact } from "./More_Information_Contact.jsx";
import { Other_information_Contact } from "./Other_information_Contact.jsx";
import { Why_Select_Contact } from "./Why_Select_Contact.jsx";
import { Collaboration_Ours_Contact } from "./Collaboration_Ours_Contact.jsx";
import { Question_Clients_Contact } from "./Question_Clients_Contact.jsx";
import { Img_Our_Contact } from "./Img_Our_Contact.jsx";
import { Footer_Contact } from "./Footer_Contact.jsx";
import CardsPresentationContact from "./Cards_Presentation_Contact.astro";
---

<NavContact />

<section class="w-[100%] flex flex-col items-center justify-center h-[105vh] gap-10" >
    <IntroLanding />
</section>

<CardsPresentationContact />

<section class="w-[100%] -mt-8 flex flex-col items-center justify-center" >
    <h2 class="text-white leading-10 text-xl text-center p-4">Con la confianza de grandes marcas de todo el mundo</h2>
    <LogoRoll client:idle />
</section>

<Card_References_Contact />

<More_Information_Contact />

<Other_information_Contact />

<Why_Select_Contact />

<Collaboration_Ours_Contact />

<Question_Clients_Contact client:idle />

<Img_Our_Contact client:idle/>

<Footer_Contact />