---

---

<div class='relative -mt-32'>
    <h2 class='font-semibold text-center text-4xl -leading-5 pb-12'>Registrate y unete a<br />
      la comunidad de Sabata
    </h2>
    <div class=' ml-24 flex'>
      <p class='text-sm text-center'>Si ya te registraste, puedes </p>
      <a href='/ec/auth/login' class='z-10 ml-1 text-[#ef7674] text-sm cursor-pointer '> Iniciar Sesion.</a>
    </div>
    <p class='text-sm ml-32'>Y navega en nuestra comunidad.</p>
    <div class='bg_text_login -z-0' />
    <div class='bg_text_login2 -z-0' />
    <div class='flex items-center justify-center gap-2 pt-5 pb-5'>
      <div class='w-[120px] h-[1px] bg-[#00000018] ' /> <label class='text-xs text-[#00000080] '>O registrate con</label><div class='w-[120px] h-[1px] bg-[#00000018] ' />
    </div>
    <div class='flex items-center justify-center gap-5'>
      <!-- <img class=' border rounded-lg px-6 py-2 ' src={google} alt='' />
      <img class=' border rounded-lg px-6 py-2' src={iphone} alt='' />
      <img class=' border rounded-lg px-6 py-2' src={facebook} alt='' /> -->
    </div>
  </div>