---
import RegisterContainer from "./Register_Container.astro";
import NavRegister from "./nav/NavRegister.astro";
import './style/style.css'

---

<section class='w-[100%] h-[130vh] bg_login_img bg-cover bg-center bg-no-repeat'
style="background-image: url(/img/login/selena_login.jpg)">
  <NavRegister />
    <header class='flex items-center justify-between w-[100%] header__content gap-10 pr-14 pl-20'>
      <RegisterContainer />
    </header>
  </section>