---
import NavOptionsContact from "@/components/Contact/nav/NavOptionsContact.astro";
---

<nav
  class="flex items-center justify-between w-full py-5 text-sm text-white px-14"
>
  <div class="flex items-center gap-5">
    <a href="/" data-astro-prefetch="tap" class="tracking-[5px]">SABATA</a>
  </div>
  <ul class="flex items-center justify-between p-1 gap-7">
    <li class="flex gap-10">
      <a href="/ec/shop/" data-astro-prefetch="tap" class="link_login" href=""
        >Tienda</a
      >
      <a class="link_login" href="">Accesorio</a>
      <a class="link_login" href="">Ofertas</a>
    </li>
  </ul>
  <NavOptionsContact />
</nav>
