---
import Login_Form from "./Login_Form";
---
<header class='flex items-center justify-between w-[100%] header__content gap-10 px-20'>
  <div class='relative'>
    <h2 class='font-semibold text-center text-4xl -leading-5 pb-12'>Inicia sesión en<br />
      Sabata directamente
    </h2>
    <div class='flex ml-7'>
      <p class='text-sm'>Si no tienes una cuenta, puedes </p>
      <a href='/ec/auth/register' class='z-10 ml-1 text-[#ef7674] text-sm cursor-pointer '> Registrarte aquí.</a>
    </div>
    <p class='text-center text-sm'>Y unete a nuestra comunidad.</p>
    <div class='bg_text_login -z-0' />
    <div class='bg_text_login2 -z-0' />
  </div>

  <Login_Form client:idle />


</header>
