---
import ContentLogin from "./Content_Login.astro";
import NavLogin from "./nav/NavLogin.astro";
import './style/style.css'
---

<!-- style="background-image: url(/img/Home/bg_footer.webp)" -->
<section
  class="w-[100%] h-[100vh] bg-cover bg-center bg-no-repeat "
  style="background-image: url(/img/login/selena_login.jpg)"
  
>
  <NavLogin />
  <ContentLogin />
</section>
