---
import ContentLogin from "./Content_Login.astro";
---

<!-- style="background-image: url(/img/Home/bg_footer.webp)" -->
<section
  class="h-[100dvh] flex items-center justify-between w-full gap-10 px-20"
>
  <ContentLogin />
</section>
