<!-- Login / Register Options -->
<div class="relative">
  <h2 class="pb-12 text-4xl font-semibold text-center -leading-5">
    Inicia sesión en<br />
    Sabata directamente
  </h2>
  <div class="flex ml-7">
    <p class="text-sm">Si no tienes una cuenta, puedes</p>
    <a
      href="/es/auth/register"
      class="z-10 ml-1 text-[#ef7674] text-sm cursor-pointer"
    >
      Registrarte aquí.</a
    >
  </div>
  <p class="text-sm text-center">Y unete a nuestra comunidad.</p>
  <div class="bg_text_login -z-0"></div>
  <div class="bg_text_login2 -z-0"></div>
</div>
