---
import VideoIntro from "./VideoIntro.astro";
import TextIntro from "./TextIntro.astro";
import NavHome from "../Nav_Home/Nav_Home";
---

<section class="relative w-[100%] h-[100vh]">
  <div
    class="z-10 bg-[#000] w-[100%] h-[100dvh] absolute top-0 left-0 cursor-default"
  >
  <h2 class="text-[#fff] absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] text-center text-8xl font-black z-20">SABATA</h2>
  </div>
  
  <!-- <VideoIntro /> -->
  <header class='absolute w-[100%] top-0 left-0 px-0  text-white text-[15px] font-medium z-20'>
    <NavHome client:idle />
  </header>
  <!-- <section
    class="absolute top-[50%] left-[25%] text-white z-10 -translate-y-[50%] -translate-x-[50%] p-10"
  >
    <TextIntro />
  </section> -->
  <div class="text-sm w-[100%] text-white absolute top-[95%] z-20 text-center left-[50%] -translate-x-[50%] -translate-y-[50%] ">
    <p class=" text-[12px] relative block text-white">
      *LAS OFERTAS TIENEN TIEMPO LIMITADO O HASTA GASTAR STOCK. NO SE PUEDE
      CANCELAR.
    </p>
    <p class="cursor-pointer text-[11px] border-b hover:border-b-2  border-[#fff] relative inline-block">
      MÁS INFORMACIÓN SOBRE NUESTRAS OFERTAS
    </p>
  </div>
</section>
