---
import { Button } from "@/components/ui/button";
---

<h4 class="text-[25px] font-bold">¡Bienvenidos!</h4>
<h2 class="text-[35px] -mt-1 font-extrabold">Tienda de online</h2>
<h1 class="text-[55px] -mt-2 font-black">SABATA</h1>
<p class="-mt-1">
  Calidad, estilo y variedad.<br /> La moda que se adapta a todos los estilos y personalidades
</p>
<Button className="mt-5" variant="Platinum">¡Comprar Ahora!</Button>
