<div class="text-sm text-center mt-[150px] text-black">
  <p class="relative inline-block">
    *EL PRECIO ANTES DE INCENTIVO ES DE $32,90, SIN INCLUIR IMPUESTOS NI CARGOS.
    SUJETO A CAMBIOS.*
  </p>
  <a
    href=""
    title="Mas Informacion Sobre el Ahorro Estimado de Moda - Sabata"
    aria-label="Mas Informacion Sobre el Ahorro Estimado de Moda - Sabata"
    target="_blank"
    class="relative inline-block underline cursor-pointer"
  >
    MÁS INFORMACIÓN SOBRE EL AHORRO ESTIMADO DE MODA.
  </a>
</div>
