---
import OfferInfoWomenFashion from "./Offer_Info_WomenFashion.astro";
import { Button } from "@/components/ui/button"
---

<div
  class="top-[60%] z-20 absolute left-[50%] -translate-x-[50%] -translate-y-[50%]"
>
  <h2 class="text-[50px] pb-5 leading-none text-center font-black text-[#000]">
    La mejor moda femenina de la ciudad
  </h2>
  <p class="text-center mt-5 text-[#000]">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore provident
    maxime fuga.
  </p>
  <div class="flex items-center justify-center gap-8 mt-6">
   <Button variant="Platinum">Ordenar Ahora</Button>
   <Button variant="Timberwolf">Agregar Carrito</Button>
  </div>
  <OfferInfoWomenFashion />
</div>

