---
import { ButtonsWomenFashion } from "./Botones_Women_Fashion";
---

<div
  class="w-[100%] absolute top-[50%] z-20 left-[75%] -translate-x-[50%] -translate-y-[50%]"
>
  <div class="text-center">
    <h2 class="text-5xl font-black text-[#000] text pb-6">
      ¡Llegaron las ofertas de<br /> verano!
    </h2>
    <p class="text-base text-[#000]">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, <br
      /> Lorem ipsum dolor sit amet.
    </p>
    <div class="flex items-center justify-center gap-6 mb-11 mt-28 my-14">
      <ButtonsWomenFashion />
    </div>
    <div class="text-sm">
      <p class=" text-[12px] relative block text-black">
        *LAS OFERTAS TIENEN TIEMPO LIMITADO O HASTA GASTAR STOCK. NO SE PUEDE
        CANCELAR.
      </p>
      <p class="cursor-pointer text-[11px] text_Card relative inline-block">
        MÁS INFORMACIÓN SOBRE NUESTRAS OFERTAS
      </p>
    </div>
  </div>
</div>

