---
import TextWomenFashion from "./TextWomenFashion.astro";
---
<section
  class="w-[100%] bg-cover bg-center bg-no-repeat relative h-[110vh]"
  style="background-image: url(/bg-Women_Fashion.webp)"
>
  <TextWomenFashion />
</section>
