---
import TextWomenFashion from "./TextWomenFashion.astro";
---

<section
  class="w-[100%] h-[100dvh] relative "
  style="background-image: url(/img/Home/bg_header_02.webp)"
>
  <img
    class="max-w-[40%] -mt-[125px] -top-[5%] absolute left-[20%] -translate-x-[50%]"
    style="mask-image: linear-gradient(black 90%, transparent);"
    loading="lazy"
    src="/img/Home/01-foto-head.webp"
    alt=""
  />
  <TextWomenFashion />
  <img
    class="max-w-[34%] -mt-[125px] top-[15%] absolute left-[85%] -translate-x-[50%]"
    style="mask-image: linear-gradient(black 80%, transparent);"
    loading="lazy"
    src="/img/Home/02-foto-head.webp"
    alt=""
  />
</section>
