---
import TextWomenFashion from "./TextWomenFashion.astro";
---
<section
  class="w-[100%] h-[110vh] relative bg-center bg-cover bg-no-repeat"
  style="background-image: url(/public/bg-Women_Fashion.webp)"
>
  <TextWomenFashion />
</section>
