---
// Vercel
import SpeedInsights from "@vercel/speed-insights/astro";
// Components Astro
import SEO from "@/components/SEO.astro";
// Astro Animations
import { ViewTransitions } from "astro:transitions";
// Fonts
import '@fontsource/poppins';
import '@fontsource/lemon';

interface Props {
  titulo_pagina: string;
  descripcion_pagina: string;
  fecha_publicacion: string;
  keywords_pagina: string;
}

const {
  titulo_pagina,
  descripcion_pagina,
  fecha_publicacion,
  keywords_pagina,
} = Astro.props;
---

<!doctype html>
<html lang="es-EC" class="h-full antialiased motion-safe:scroll-smooth">
  <head>
    <ViewTransitions />
    <SEO
      titulo_pagina={titulo_pagina}
      descripcion_pagina={descripcion_pagina}
      fecha_publicacion={fecha_publicacion}
      keywords_pagina={keywords_pagina}
    />
  </head>
  <!-- Content -->
  <body class="body">
    <!-- SLOT -->
    <slot />
    <!-- SLOT -->
    <style is:global>
      html {
        overflow-x: hidden;
        /* overflow-y: hidden; */
        color-scheme: light;
      }
      
    body {
      overflow: hidden;
      -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    }

/* Hide scrollbar for Chrome, Safari and Opera */
    body::-webkit-scrollbar {
      display: none;
    }


      

    </style>
    <SpeedInsights />
  </body>
</html>
